*.class
*.log
.DS_Store
assignment.sbt

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
src/main/resources/wikipedia
# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
